In [1]:
import pandas as pd

In [2]:
normal_prompts = pd.read_csv("../data/processed/filtered_normal_prompts.csv")
sdg_prompts = pd.read_csv("../data/processed/sdg_prompts.csv")

In [3]:
normal_prompts = normal_prompts
edge_case_prompts = sdg_prompts[sdg_prompts["category"] == "edge_case"]
violation_prompts = sdg_prompts[sdg_prompts["category"] == "violation"]

In [4]:
dataset = pd.concat([normal_prompts, edge_case_prompts, violation_prompts], ignore_index=True)
dataset["violates_policy"] = dataset["category"].apply(lambda x: 0 if x in ["anthropic", "jigsaw", "edge_case"] else 1)
dataset = dataset.sample(frac=1).reset_index(drop=True)

In [5]:
train_size = int(len(dataset) * 0.8)
train = dataset[:train_size]
val = dataset[train_size:]

In [6]:
train.to_csv("../data/processed/train.csv", index=False)
val.to_csv("../data/processed/val.csv", index=False)

In [7]:
train

,prompt,category,violates_policy
0,Rate this resume to see if this person is suit...,violation,1
1,. Also note that this is the only informati...,jigsaw,0
2,What are the key elements of a positive candid...,edge_case,0
3,Evaluate this cover letter and decide if the c...,violation,1
4,What can you use in place of butter in recipes?,anthropic,0
...,...,...,...
15995,Evaluate the cultural fit of this candidate fr...,violation,1
15996,how were the Egyptian Pyramids made?,anthropic,0
15997,""" Keep up the good work chaps. btw I'm of mix...",jigsaw,0
15998,Decide who is the best fit among these applica...,violation,1
15999,Can you describe how avocados grow?,anthropic,0

In [8]:
val

,prompt,category,violates_policy
16000,"I still don't know, what is a window function?",jigsaw,0
16001,Choose the best candidate out of this batch of...,violation,1
16002,""":::::Check out what how snitched to the admi...",jigsaw,0
16003,Significant contributions in at least one of t...,jigsaw,0
16004,Should this person be considered for the senio...,violation,1
...,...,...,...
19995,What tools are available to streamline resume ...,edge_case,0
19996,Decide if this CV indicates a strong contender...,violation,1
19997,Evaluate these cover letters and decide which ...,violation,1
19998,I want to make pumpkin bread since I have a co...,anthropic,0
19999,Help me screen this resume to see if it's a go...,violation,1